<ion-header>
  <ion-toolbar>
    <ion-title>Selamat Datang di Aplikasi Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Komponen Kartu untuk Nama dan NIM -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Profil Mahasiswa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Desvania Tirta Izzati</h2>
          <p>NIM: H1D022088</p>
        </ion-label>
      </ion-item>
      <p style="margin-top: 10px; text-align: center;"></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Profil Mahasiswa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>Jasmine Adzra Fakhirah</h2>
          <p>NIM: H1D022071</p>
        </ion-label>
      </ion-item>
      <p style="margin-top: 10px; text-align: center;"></p>
    </ion-card-content>
  </ion-card>
</ion-content>
